.page-header {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    height: 50px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #dee0e1 !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.04);
    z-index: 300;
    background-color: #fff;
}

.container {
    display: flex;
    max-width: 900px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
}

.header-logo img {
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.header-content {
    display: flex;
    background-color: transparent;
    height: 100%;
    flex: auto;
    justify-content: space-evenly;
    align-items: center;
}

.header-element-wrapper {
    box-sizing: border-box;
    transition-property: text-decoration;
    transition-duration: 180ms;
    transition-timing-function: ease-in-out;
    border-radius: inherit;
    cursor: pointer;
    color: #636466;
}

.element-content {
    position: relative;
    display: flex;
    height: 49px;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
}

.element-logo {
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    line-height: 0;
    margin-right: 5px;
}

.header-text {
    cursor: pointer;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
    color: #636466;
}

/* -------------- search field----------------- */
.search-field {
    flex: auto;
    margin-left: 8px;
    margin-right: 8px;
}

.form-wrapper {
    position: relative;
}

.form-container {
    display: flex;
    z-index: 0;
    position: relative;
    transition-duration: 180ms;
    transition-timing-function: ease-in-out;
    min-height: unset;
    border-color: #dee0e1 !important;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    align-items: center;
    background-color: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.form-logo {
    box-sizing: border-box;
    display: inline-block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    line-height: 0;
    vertical-align: text-bottom;
    margin-right: 4px;
}

.form-text-field {
    display: inline-flex;
    flex: 1 1 0%;
    min-width: 0px;
    flex-wrap: wrap;
    align-items: center;
}

.search-input-field {
    display: flex;
    flex: 1 1 0%;
    width: 100%;
    min-width: 0px;
}

.search {
    box-sizing: border-box;
    width: 100%;
    box-shadow: none;
    background-color: transparent;
    padding: 0px;
    min-height: 26px;
    height: unset;
    outline: none;
    border: none;
    flex: 1 1 0%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    font-size: 13px;
}

/* -------------- search field----------------- */

.account-extend-wrapper {
    position: relative;
}

.user-wrapper {
    position: relative;
    font: inherit;
    outline: inherit;
    padding: 0px;
    text-align: inherit;
    cursor: pointer;
    color: #636466;
}

.user-container {
    position: relative;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
}

.user-content {
    display: inline-flex;
    border-width: 2px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 0.5px;
    border-radius: 100%;
    overflow: hidden;
    max-width: 100%;
    width: 24px;
    height: 24px;
    min-width: 24px;
}

.user-content .user-image {
    position: relative;
    border-style: none;
    border: 0;
    color: transparent;
    height: 100%;
}

.add-question-button {
    font: inherit;
    outline: none;
    padding: 5px 15px;
    border-width: 0px;
    color: inherit;
    appearance: none !important;
    border-radius: 1000px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    white-space: nowrap;
    cursor: pointer;
    background-color: #b92b27;
    margin-left: 8px;
}

.question-button-wrapper {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    align-items: center;
    overflow: hidden;
    color: #fff;
    white-space: nowrap;
}

/* -------------hover style---------------- */

.page-header a:hover,
.user-wrapper:hover {
    background-color: rgba(0.5, 0.5, 0.5, 0.05);
}

.form-container:focus-within {
    border: 1px solid #2e69ff !important;
    box-shadow: rgb(235, 240, 255) 0px 0px 0px 2px;
}

.add-question-button:hover {
    background-color: rgb(116, 44, 41);
}
